{% extends 'csmuk/base.html'%}
{% block content %}

<div class="container">
    
        <form method="POST">
            {% csrf_token %}
            <div class="form-group w-50" >
              <label for="frist_name">Name</label>
              <input type="text" class="form-control"  id="frist_name" name="frist_name">
            </div>

            <div class="form-group w-50" >
                <label for="last_name">Last_Name</label>
                <input type="text" class="form-control"  id="last_name" name="last_name">
              </div>

            <div class="form-group w-50" >
                <label for="email">Email address:</label>
                <input type="email" class="form-control"  id="email" name="email">
              </div>

            <div class="form-group w-50" >
              <label for="password">Password:</label>
              <input type="password" class="form-control"  id="password" name="password">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
     
    
</div>
{% endblock content %}